%div.page-header
  %h1==Ankiety użytkownika #{@user.username}
  
- if @questionnaires.blank?

  %p.empty Nie masz jeszcze żadnych ankiet
  = link_to "Utwórz nową ankietę", new_questionnaire_path, :class => 'btn primary'

- else  
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Nazwa ankiety
        %th Wyniki
        %th Ilość pytań
        %th Odpowiedzi
        -#OB%th Publiczna?
        %th Data utworzenia
        %th Akcje
    %tbody
    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.title
        %td
          = link_to "Zobacz wyniki »", answers_questionnaire_path(questionnaire)
        %td= questionnaire.questions.count
        %td= questionnaire.questions[0].answers.count
        -#%td= questionnaire.public ? "Tak" : "Nie"
        %td= questionnaire.created_at.to_formatted_s :short        
        %td
          = link_to 'Edytuj', edit_questionnaire_path(questionnaire), :class => 'btn'
          = link_to 'Usuń', questionnaire, confirm: 'Jesteś pewny?', method: :delete, :class => 'btn'

  = link_to "Utwórz nową ankietę", new_questionnaire_path, :class => 'btn primary'
